{
    "name"                     : "PASOE HealthScanner"
    , "probeID"                : 1
    , "description"            : "Composite weighted health of PAS for OpenEdge server metrics"
    , "comments"               : "contains an array of probe definitions"
    , "calculation"            : "sum of probes( health * weight ) / sum of probes( weight )"
    , "className"              : "com.progress.appserv.services.health.probe.CompositeHealthProbe"
    , "weight"                 : 1.0
    , "marginal"               : 0.7
    , "failOnCritical"         : false
    , "critical"               : 0.6
    , "enabled"                : true
    , "probes"                 :
    [
        {
            "name"                     : "JVM Health"
            , "probeID"                : 2
            , "description"            : "Composite weighted score of Java Virtual Machine metrics"
            , "comments"               : "contains an array of probe definitions"
            , "calculation"            : "sum of probes( health * weight ) / sum of probes( weight )"
            , "className"              : "com.progress.appserv.services.health.probe.CompositeHealthProbe"
            , "weight"                 : 0.2
            , "marginal"               : 0.7
            , "critical"               : 0.6
            , "failOnCritical"         : false
            , "enabled"                : true
            , "probes"                 :
            [
                {
                    "name"                     : "GCUsedMemory Health"
                    , "probeID"                : 6
                    , "description"            : "value analysis of garbage collector"
                    , "comments"               : ""
                    , "calculation"            : "(max - used) / max"
                    , "className"              : "com.progress.appserv.services.health.probe.GCUsedMemory"
                    , "weight"                 : 0.043
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                , {
                    "name"                     : "GCUsedMemoryTrend Health"
                    , "probeID"                : 7
                    , "description"            : "trend analysis of garbage collector"
                    , "comments"               : ""
                    , "calculation"            : "linear regression using least squares algorithm"
                    , "className"              : "com.progress.appserv.services.health.probe.GCUsedMemoryTrend"
                    , "weight"                 : 0.043
                    , "safeFuture"             : 600000
                    , "timeToStart"            : 10
                    , "numberOfIntervals"      : 5
                    , "minNumberOfIntervals"   : 5
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : false
                }
            ]
        }
        ,
        {
            "name"                     : "Tomcat Health"
            , "probeID"                : 3
            , "description"            : "Composite weighted score of Tomcat server metrics"
            , "comments"               : "contains an array of probe definitions"
            , "calculation"            : "sum of probes( health * weight ) / sum of probes( weight )"
            , "className"              : "com.progress.appserv.services.health.probe.CompositeHealthProbe"
            , "weight"                 : 0.3
            , "marginal"               : 0.7
            , "critical"               : 0.6
            , "failOnCritical"         : false
            , "enabled"                : true
            , "probes"                 :
            [
                {
                    "name"                     : "HttpAvgRequestProcTime Health"
                    , "probeID"                : 8
                    , "description"            : "value analysis of average HTTP request processing time"
                    , "comments"               : ""
                    , "calculation"            : "processing time / number of requests"
                    , "className"              : "com.progress.appserv.services.health.probe.HttpAvgRequestProcTime"
                    , "weight"                 : 0.1
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "maxAvgProcTime"         : 1000
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                , {
                    "name"                     : "HttpsAvgRequestProcTime Health"
                    , "probeID"                : 9
                    , "description"            : "value analysis of average HTTPS request processing time"
                    , "comments"               : ""
                    , "calculation"            : "processing time / number of requests"
                    , "className"              : "com.progress.appserv.services.health.probe.HttpsAvgRequestProcTime"
                    , "weight"                 : 0.1
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "maxAvgProcTime"         : 10
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                , {
                    "name"                     : "ThreadsBusy Health"
                    , "probeID"                : 10
                    , "description"            : "value analysis of busy HTTP threads"
                    , "comments"               : ""
                    , "calculation"            : "(max threads - busy threads) / max threads"
                    , "className"              : "com.progress.appserv.services.health.probe.ThreadsBusy"
                    , "weight"                 : 0.043
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                , {
                    "name"                     : "ThreadsCount Health"
                    , "probeID"                : 11
                    , "description"            : "value analysis of number of threads"
                    , "comments"               : ""
                    , "calculation"            : "(max threads - thread count) / max threads"
                    , "className"              : "com.progress.appserv.services.health.probe.ThreadsCount"
                    , "weight"                 : 0.043
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                , {
                    "name"                     : "HttpRequestErrors Health"
                    , "probeID"                : 12
                    , "description"            : "value analysis of number of HTTP request errors"
                    , "comments"               : ""
                    , "calculation"            : "(requests - errors) / requests"
                    , "className"              : "com.progress.appserv.services.health.probe.HttpRequestErrors"
                    , "weight"                 : 0.043
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                , {
                    "name"                     : "HttpsRequestErrors Health"
                    , "probeID"                : 13
                    , "description"            : "value analysis of number of HTTPS request errors"
                    , "comments"               : ""
                    , "calculation"            : "(requests - errors) / requests"
                    , "className"              : "com.progress.appserv.services.health.probe.HttpsRequestErrors"
                    , "weight"                 : 0.043
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                , {
                    "name"                     : "WebSessions Health"
                    , "probeID"                : 14
                    , "description"            : "value analysis of number of HTTP sessions"
                    , "comments"               : ""
                    , "calculation"            : "(max sessions - session count) / max sessions"
                    , "className"              : "com.progress.appserv.services.health.probe.WebSessions"
                    , "weight"                 : 0.043
                    , "fullHealth"             : 0.3
                    , "extremalHealth"         : 0.1
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }
            ]
        }
        , {
            "name"                     : "Transport Health"
            , "probeID"                : 4
            , "description"            : "Composite weighted score of enabled PAS for OpenEdge transports"
            , "comments"               : "contains an array of probe definitions"
            , "calculation"            : "sum of probes( health * weight ) / sum of probes( weight )"
            , "className"              : "com.progress.appserv.services.health.probe.CompositeHealthProbe"
            , "weight"                 : 0.2
            , "marginal"               : 0.7
            , "critical"               : 0.6
            , "failOnCritical"         : false
            , "enabled"                : true
            , "probes"                 :
            [
                {
                    "name"                     : "APSV Ping Health"
                    , "probeID"                : 15
                    , "description"            : "probe of APSV transport"
                    , "comments"               : ""
                    , "calculation"            : "200 OK response 1.0, otherwise 0.0"
                    , "className"              : "com.progress.appserv.services.health.probe.ApsvTransportPing"
                    , "weight"                 : 0.33333
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                ,
                {
                    "name"                     : "WEB Ping Health"
                    , "probeID"                : 16
                    , "description"            : "probe of WEB transport"
                    , "comments"               : ""
                    , "calculation"            : "200 OK response 1.0, otherwise 0.0"
                    , "className"              : "com.progress.appserv.services.health.probe.WebTransportPing"
                    , "weight"                 : 0.33333
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                ,
                {
                    "name"                     : "REST Ping Health"
                    , "probeID"                : 17
                    , "description"            : "probe of REST transport"
                    , "comments"               : ""
                    , "calculation"            : "200 OK response 1.0, otherwise 0.0"
                    , "className"              : "com.progress.appserv.services.health.probe.RestTransportPing"
                    , "weight"                 : 0.33333
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
            ]
        }
        , {
            "name"                     : "OS Health"
            , "probeID"                : 18
            , "description"            : "Composite weighted score of operating system metrics"
            , "comments"               : "contains an array of probe definitions"
            , "calculation"            : "sum of probes( health * weight ) / sum of probes( weight )"
            , "className"              : "com.progress.appserv.services.health.probe.CompositeHealthProbe"
            , "weight"                 : 0.3
            , "marginal"               : 0.7
            , "critical"               : 0.6
            , "failOnCritical"         : false
            , "enabled"                : true
            , "probes"                 :
            [
                {
                    "name"                     : "Disk Space Health"
                    , "probeID"                : 19
                    , "description"            : "Free disk space probe"
                    , "comments"               : ""
                    , "calculation"            : "(disk size - disk used) / disk size"
                    , "className"              : "com.progress.appserv.services.health.probe.os.DiskSpace"
                    , "fullHealth"             : 0.85
                    , "extremalHealth"         : 0.0
                    , "weight"                 : 0.4
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }   
                ,
                {
                    "name"                     : "Memory Health"
                    , "probeID"                : 20
                    , "description"            : "Free memory probe"
                    , "comments"               : ""
                    , "calculation"            : "(memory size - memory used) / memory size"
                    , "className"              : "com.progress.appserv.services.health.probe.os.PhysicalMemory"
                    , "fullHealth"             : 0.4
                    , "extremalHealth"         : 0.0
                    , "weight"                 : 0.4
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : true
                    , "enabled"                : true
                }   
                ,
                {
                    "name"                     : "Swap Health"
                    , "probeID"                : 21
                    , "description"            : "Swap space probe"
                    , "comments"               : ""
                    , "calculation"            : "(swap size - swap used) / swap size"
                    , "className"              : "com.progress.appserv.services.health.probe.os.SwapSpace"
                    , "fullHealth"             : 0.7
                    , "extremalHealth"         : 0.0
                    , "weight"                 : 0.2
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : true
                    , "enabled"                : true
                }   
                ,
                {
                    "name"                     : "CPU Health"
                    , "probeID"                : 22
                    , "description"            : "CPU load probe"
                    , "comments"               : ""
                    , "calculation"            : "1.0 - cpu load"
                    , "className"              : "com.progress.appserv.services.health.probe.os.SystemLoadAverage"
                    , "fullHealth"             : 0.4
                    , "extremalHealth"         : 0.0
                    , "weight"                 : 0.4
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }
                ,
                {
                    "name"                     : "OOM Killer Health"
                    , "probeID"                : 23
                    , "description"            : "probe that monitors linux OOM scores"
                    , "comments"               : ""
                    , "calculation"            : "PAS for OpenEdge agent pids in the percentile range of all processes"
                    , "className"              : "com.progress.appserv.services.health.probe.OOMKiller"
                    , "weight"                 : 0.043
                    , "OOMPercentile"          : 99
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : false
               }   
            ]
        }
        , {
            "name"                     : "PAS for OpenEdge Health"
            , "probeID"                : 5
            , "description"            : "Composite weighted score of PAS for OpenEdge metrics"
            , "comments"               : "contains an array of probe definitions"
            , "calculation"            : "sum of probes( health * weight ) / sum of probes( weight )"
            , "className"              : "com.progress.appserv.services.health.probe.CompositeHealthProbe"
            , "weight"                 : 0.1
            , "marginal"               : 0.7
            , "critical"               : 0.6
            , "failOnCritical"         : false
            , "enabled"                : true
            , "probes"                 :
            [
                {
                    "oeManagerName"            : "SessionManager"
                    , "name"                   : "SessionCountMetrics Health"
                    , "probeID"                : 24
                    , "description"            : "PASOE Broker Session Health"
                    , "comments"               : ""
                    , "calculation"            : "((reads + writes) - (readErrors + writeErrors)) / (reads + writes)"
                    , "className"              : "com.progress.appserv.services.health.probe.pasoe.SessionCountProbe"
                    , "metricsTotal"           : "reads, writes"
                    , "metricsFailed"          : "readErrors, writeErrors"
                    , "weight"                 : 1.0
                    , "fullHealth"             : 0.0
                    , "extremalHealth"         : 0.1
                    , "interval"               : 120
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }  
                ,
                {
                    "oeManagerName"            : "RestTransportManager"
                    , "name"                   : "RestCountMetrics Health"
                    , "probeID"                : 25
                    , "description"            : "PASOE REST Service Health"
                    , "comments"               : ""
                    , "calculation"            : "(requests - errors) / requests"
                    , "className"              : "com.progress.appserv.services.health.probe.pasoe.RestTransportCountProbe"
                    , "metricsTotal"           : "requests"
                    , "metricsFailed"          : "failedRequests, expressionErrors, serviceUnavailableRequests"
                    , "weight"                 : 1.0
                    , "fullHealth"             : 0.0
                    , "extremalHealth"         : 0.1
                    , "interval"               : 120
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }
                ,
                {
                    "oeManagerName"            : "RestTransportManager"
                    , "name"                   : "RestTimeMetrics Health"
                    , "probeID"                : 26
                    , "description"            : "PASOE REST Service Time Metrics Health"
                    , "comments"               : ""
                    , "className"              : "com.progress.appserv.services.health.probe.pasoe.RestTransportValueProbe"
                    , "metrics"                : "requests, minTotalTime, maxTotalTime, avgTotalTime, minAppserverTime, maxAppserverTime, avgAppserverTime"
                    , "weight"                 : 1.0
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : false
                } 
                ,    
                {
                    "oeManagerName"            : "WebTransportManager"
                    , "name"                   : "WebCountMetrics Health"
                    , "probeID"                : 27
                    , "description"            : "PASOE WEB Service Health"
                    , "comments"               : ""
                    , "calculation"            : "(requests - errors) / requests"
                    , "className"              : "com.progress.appserv.services.health.probe.pasoe.WebTransportCountProbe"
                    , "metricsTotal"           : "getRequests, postRequests, putRequests, deleteRequests, optionsRequests, headRequests, traceRequests, patchRequests"
                    , "metricsFailed"          : "getErrors, postErrors, putErrors, deleteErrors, optionsErrors, headErrors, traceErrors, patchErrors"
                    , "weight"                 : 1.0
                    , "fullHealth"             : 0.0
                    , "extremalHealth"         : 0.1
                    , "interval"               : 120
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }
                ,
                {
                    "oeManagerName"            : "WebTransportManager"
                    , "name"                   : "WebTimeMetrics Health"
                    , "probeID"                : 28
                    , "description"            : "PASOE Web Service Time Metrics Health"
                    , "comments"               : ""
                    , "className"              : "com.progress.appserv.services.health.probe.pasoe.WebTransportValueProbe"
                    , "metrics"                : "servletRequests, minABLProcessingTime, maxABLProcessingTime, avgABLProcessingTime"
                    , "weight"                 : 1.0
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : false
                }
                ,    
                {
                    "oeManagerName"            : "ApsvTransportManager"
                    , "name"                   : "ApsvCountMetrics Health"
                    , "probeID"                : 29
                    , "description"            : "PASOE Apsv Service Health"
                    , "comments"               : ""
                    , "calculation"            : "(requests - errors) / requests"
                    , "className"              : "com.progress.appserv.services.health.probe.pasoe.ApsvTransportCountProbe"
                    , "metricsTotal"           : "sessionRequests"
                    , "metricsFailed"          : "sessionErrors"
                    , "weight"                 : 1.0
                    , "fullHealth"             : 0.0
                    , "extremalHealth"         : 0.1
                    , "interval"               : 120
                    , "marginal"               : 0.7
                    , "critical"               : 0.6
                    , "failOnCritical"         : false
                    , "enabled"                : true
                }
            ]
        }
    ]
}
